  <section id="banner">
         <div class="container">
         	<div class="sign-up-form" >
               <a href="#" class="logo"><img src="images/logo.png" alt="Go Dr Pet"/></a>
               <h2 class="text-white"> </h2>
               <div class="line-divider"></div>
               <div class="form-wrapper">
                  <p class="signup-text">{{"LOGIN_TEXT" | translate}}</p>
                  <form ng-submit="doReset()">
                     <fieldset class="form-group">
                        <p ng-if="showPasswordError" style="color:red">{{passwordErrorMsg}}</p>
                        <input type="password" class="form-control"  placeholder="{{ 'REGISTER_PASSWORD' | translate }}" ng-model="resetData.password">
                     </fieldset>
                     <fieldset class="form-group">
                        <input type="password" class="form-control" placeholder="{{ 'REGISTER_CONFIRM_PASSWORD' | translate }}" ng-model="resetData.confirmPassword">
                     </fieldset>
                     <button class="btn-secondary" ng-if="!resetNow" type="submit">{{ "RESET_BUTTON" | translate }}</button>
                   </form>
                 
                  <p ng-if="resetNow">{{resetMsg}}</p><img height="20" src="images/spinner.gif" ng-if="showResetSpinner">
               </div>
               
               <img class="form-shadow" src="images/bottom-shadow.png" alt="" />
            </div><!-- Log in Form End -->
 	</div>
 </section>
